---
title: "Variables, expressions and statements"
format: 
  html:
    toc: true
    code-fold: false
jupyter: python3
---

In [1]:
#| echo: false

# import image module
from IPython.display import Image

# get the image
Image(url="datatypes.png", width=700, height=400)

## Commenting code

The `#` symbol can be used to comment the code. Anything after the `#` sign is ignored by python. Commenting a code may have several purposes, such as:

-  Describe what is going to happen in a sequence of code

-  Document who wrote the code or other ancillary information

-  Turn off a line of code - perhaps temporarily

For example, below is code with a comment to describe the purpose of the code:

In [ ]:
#Computing number of hours of lecture in this course
print("Total lecture hours of STAT201=",10*3*(5/6))

Total lecture hours of STAT201= 25.0

### Practice exercise 1

Which of the following lines is a comment:

1. #this is a comment

2. ##this may be a comment

3. A comment#

## `print()` function in python

The `print()` function is a fundamental tool for displaying information.

### Basic Examples

In [3]:
# Printing a simple string
print("Hello, World!")

Hello, World!

In [2]:
# Printing a string with a number
print ("The total number of seconds in a day is", 24*60*60)

The total number of seconds in a day is 86400

In [4]:
# combine multiple strings
print("Hello, " + "World!")

Hello, World!

In [5]:
# use f-strings for formatted output
name = "World"
print(f"Hello, {name}!")

Hello, World!

### Practice exercise 2

Use the `print()` function to:
* Display your name, age, and favorite hobby.
* Format the output neatly using f-strings.

## Data types

Python provides several built-in data types for storing different kinds of information in variables. These data types can be broadly categorized into primitive data types and collection (containers) data types as shown below. While collection data types will be covered in Chapter 5, this chapter focuses on primitive data types, which are used to represent a single value.

### Primitive Data Types

They represent a single value. In Python, primitive data types include:

- **Integer (`int`)**: Whole numbers (e.g., `10`, `-3`).
- **Floating-point number (`float`)**: Numbers with decimals (e.g., `3.14`, `-2.7`).
- **Boolean (`bool`)**: Logical values `True` or `False`.
- **None type (`None`)**: Represents the absence of a value.
- **String (`str`)**: A sequence of characters (e.g., `"hello"`, `'world'`).


The data type of the object can be identified using the in-built python function `type()`. For example, see the following objects and their types:

In [1]:
type(4)

int

In [36]:
type(4.4)

float

In [37]:
type('4')

str

In [38]:
type(True)

bool

### Practice exercise 3

What is the datatype of the following objects?

1. 'This is False'

2. "This is a number"

3. 1000

4. 65.65

5. False

## Variables

A **variable** is a container for storing data values. Variables in Python are dynamically typed, meaning you don't need to specify their type when declaring them.

### **Key Points**
1. **Variable Declaration**:
   - You can create a variable by assigning a value to it using the `=` operator.
   - Example:
     ```python
     x = 10  # Integer
     name = "Alice"  # String
     pi = 3.14  # Float
     is_active = True  # Boolean
     ```

2. **Dynamic Typing**:
   - The type of a variable is determined by the value assigned to it.
   - Example:
     ```python
     x = 10        # x is an integer
     x = "Python"  # x is now a string
     ```

3. **Variable Naming Rules**:
   - Names must start with a letter (a-z, A-Z) or an underscore (_).
   - Names can only contain letters, numbers (0-9), and underscores.
   - Names are case-sensitive (`name` and `Name` are different variables).
   - Reserved keywords (e.g., `if`, `for`, `while`) cannot be used as variable names.

There are certain *reserved words* in python that have some meaning, and cannot be used as variable names. These reserved words are:

In [6]:
#| echo: false

# import image module
from IPython.display import Image

# get the image
Image(url="reserved_words.jpg",width=600)

4. **Best Practices**:
   - Use descriptive variable names:
     ```python
     total_price = 100
     ```
   - Use snake_case for multi-word names:
     ```python
     user_age = 25
     ```

[Python style guide](https://peps.python.org/pep-0008/): Please refer to the python style guide for best coding practices, such as naming variables, using spaces, tabs, and styling the different components of your code.

### Example Usage

In [7]:
# Variable assignments
a = 5
b = 3.14
message = "Hello, World!"
is_valid = True

In [8]:
# Printing variables
print(a)  # Output: 5
print(message)  # Output: Hello, World!

5
Hello, World!

In [9]:
# Reassigning variables
a = "Now I am a string!"
print(a)

Now I am a string!

### Checking Variable Types

You can use the `type()` function to check the type of a variable.

In [10]:
x = 10
print(type(x)) 

y = "Python"
print(type(y))

<class 'int'>
<class 'str'>

### Practice exercise 4


Which of the following variable names are valid?
   
1. var.name

2. var9name

3. _varname

4. varname*
   

In the statements below, determine the variable type

1. value = "name"

2. constant = 7

3. another_const = "variable"

4. True_False = True

## Assignment statements

Values are assigned to variables with the assignment statement (=). An assignment statement may have a constant or an expression on the right hand side of the (=) sign, and a variable name on the left hand side.

For example, the code lines below are assignment statements

In [69]:
var = 2
var = var + 3

## Expressions

### Mathematical Operations and Their Operators in Python

Python provides the following operators for performing mathematical operations:

1. **Exponentiation (`**`)**: Raises a number to the power of another.
   - Example: `2 ** 3` results in `8`.

2. **Modulo (`%`)**: Returns the remainder of a division.
   - Example: `10 % 3` results in `1`.

3. **Multiplication (`*`)**: Multiplies two numbers.
   - Example: `4 * 5` results in `20`.

4. **Division (`/`)**: Divides one number by another, resulting in a float.
   - Example: `10 / 2` results in `5.0`.

5. **Addition (`+`)**: Adds two numbers.
   - Example: `7 + 3` results in `10`.

6. **Subtraction (`-`)**: Subtracts one number from another.
   - Example: `9 - 4` results in `5`.

### Operator Precedence in Python

The operators listed above are in **decreasing order of precedence**, meaning:

1. **Exponentiation (`**`)** is evaluated first.
2. **Modulo (`%`)** is evaluated next.
3. **Multiplication (`*`)** follows.
4. **Division (`/`)**, if present, has the same precedence as multiplication.
5. **Addition (`+`)** and **Subtraction (`-`)** are evaluated last, from left to right.


#### Example: Precedence in Action

Consider the expression: `2 + 3 % 4 * 2`

To evaluate this, Python follows the precedence rules:

1. **Modulo (`%`)** is evaluated first:

In [12]:
3 % 4

3

**Multiplication (`*`)** is evaluated next:

In [13]:
3 * 2

6

**Addition (`+`)** is evaluated last:

In [14]:
2+6

8

Thus, the result of the expression `2 + 3 % 4 * 2` is `8`.

#### Key Takeaways
* Precedence determines the order in which operations are performed in an expression.
* Parentheses `()` can be used to override the default precedence and control the order of evaluation.

In [16]:
result = (2 + 3) % (4 * 2)
print(result)

5

### Practice exercise 5

Which of the following statements is an assignment statement:

1. x = 5

2. print(x)

3. type(x)

4. x + 4

What will be the result of the following expression:

In [ ]:
1%2**3*2+1

## Converting datatypes

Sometimes a value may have a datatype that is not suitable for using it. For example, consider the variable called *annual_income* in the code below:

In [86]:
annual_income = "80000"

Suppose we wish to divide `annual_income` by 12 to get the monthly income. We cannot use the variable `monthly_income` directly as its datatype is a string and not a number. Thus, numerical operations cannnot be performed on the variable `annual_income`.

We'll need to convert *annual_income* to an integer. For that we will use the python's in-built `int()` function:

In [87]:
annual_income = int(annual_income)
monthly_income = annual_income/12
print("monthly income = ", monthly_income)

monthly income =  6666.666666666667

Similarly, datatypes can be converted from one type to another using in-built python functions as shown below:

In [88]:
#Converting integer to string
str(9)

'9'

In [89]:
#Converting string to float
float("4.5")

4.5

In [91]:
#Converting bool to integer
int(True)

1

Sometimes, conversion of a value may not be possible. For example, it is not possible to convert the variable `greeting` defined below to a number:

In [ ]:
greeting = "hello"

However, in some cases, mathematical operators such as `+` and `*` can be applied on strings. The operator `+` concatenates multiple strings, while the operator `*` can be used to concatenate a string to itself multiple times:

In [97]:
"Hi" + " there!"

'Hi there!'

In [98]:
"5" + '3'

'53'

In [99]:
"5"*8

'55555555'

## User input

Python's in-built `input()` function is used to take input from the user during program execution. It reads a line of text entered by the user and returns it as a **string**.

In [17]:
# suppose we wish the user to onput their age:
age = input("Enter your age:")

The entered value is stored in the variable `age` and can be used for computation.

#### **Key Point**

* The `input()` is always returned as a string, even if the user enters a number.
* You can convert the input to other types (e.g., `int`, `float`) using type conversion functions.
* The program execution pauses until the user provides input.

### Examples

In [ ]:
# basic input
name = input("Enter your name: ")
print("Hello, " + name)

In [ ]:
# using f-string for formatted output
name = input("Enter your name: ")
print(f"Hello, {name}!")

In [ ]:
# To take numeric input, you need to convert the string to an appropriate data type:
age = int(input("Enter your age: "))
print(f"You will be {age + 1} years old next year.")

In [ ]:
# input for calculating the area of a circle
radius = float(input("Enter the radius of the circle: "))
area = 3.14 * radius ** 2
print(f"The area of the circle is {area}")

### Practice exercise 6
Ask the user to input their year of birth, and print their age.

## Programming errors

There are 3 types of errors that can occur in a program - syntax errors, run-time errors, and semantic errors.

### Syntax errors

Syntax errors occur if the code is written in a way that it does not comply with the rules / standards / laws of the language (python in this case). For example, suppose a values is assigned to a variable as follows:

In [ ]:
9value = 2

The above code when executed will indicate a syntax error as it violates the rule that a variable name must not start with a number.

### Run-time errors

Run-time errors occur when a code is syntactically correct, but there are other issues with the code such as:

- Misspelled or incorrectly capitalized variable and function names
- Attempts to perform operations (such as math operations) on data of the wrong type (ex. attempting to subtract two variables that hold string values)
- Dividing by zero
- Attempts to use a type conversion function such as `int` on a value that can’t be converted to an `int`

For example, suppose a number is multipled as follws:

In [ ]:
multiplication_result = x * 4

The above code is syntactically correct. However, it will generate an error as the variable `x` has not been defined as a number.

### Semantic errors

Semantic errors occur when the code executes without an error being indicated by the compiler. However, it does not work as inteded by the user. For example, consider the following code of mutiplying the number 6 by 3:

In [34]:
x = '6'
x * 3

'666'

If it was intended to multiply the number 6, then the variable `x` should have been defined as `x=6` so that `x` has a value of type `integer`. However, in the above code `6` is a `string` type value. When a `string` is multiplied by an integer, say *n*, it concatenates with itself *n* times.

### Practice exercise 7

Suppose we wish to compute tax using the income and the tax rate. Identify the type of error from amongst syntax error, semantic error and run-time error in the following pieces of code.

In [ ]:
income = 2000
tax = .08 * Income
print("tax on", income, "is:", tax)

In [ ]:
income = 2000
tax = .08 x income
print("tax on", income, "is:", tax)

In [ ]:
income = 2000
tax = .08 ** income
print("tax on", income, "is:", tax)

### Practice exercise 8

The formula for computing final amount if one is earning compund interest is given by:
$$A = P\bigg(1+\frac{r}{n}\bigg)^{nt},$$

where: \
P = Principal amount (initial investment), \
r = annual nominal interest rate, \
n = number of times the interest is computed per year, \
t = number of years

Write a Python program that assigns the principal amount of \$10000 to variable *P*, assign to *n* the value 12, and assign to *r* the interest rate of 8\%. Then have the program prompt the user for the number of years *t* that the money will be compounded for. Calculate and print the final amount after *t* years.

What is the amount if the user enters *t* as 4 years?