---
title: "Variables, expressions and statements"
format: 
  html:
    toc: true
    code-fold: false
jupyter: python3
---

In [1]:
#| echo: false

# import image module
from IPython.display import Image

# get the image
Image(url="datatypes.png", width=700, height=400)

## Commenting code

The `#` symbol can be used to comment the code. Anything after the `#` sign is ignored by python. Commenting a code may have several purposes, such as:

-  Describe what is going to happen in a sequence of code

-  Document who wrote the code or other ancillary information

-  Turn off a line of code - perhaps temporarily

For example, below is code with a comment to describe the purpose of the code:

In [ ]:
#Computing number of hours of lecture in this course
print("Total lecture hours of STAT201=",10*3*(5/6))

Total lecture hours of STAT201= 25.0

### Practice exercise 1

Which of the following lines is a comment:

1. #this is a comment

2. ##this may be a comment

3. A comment#

## `print()` function in python

The `print()` function is a fundamental tool for displaying information.

### Basic Examples

In [3]:
# Printing a simple string
print("Hello, World!")

Hello, World!

In [2]:
# Printing a string with a number
print ("The total number of seconds in a day is", 24*60*60)

The total number of seconds in a day is 86400

In [4]:
# combine multiple strings
print("Hello, " + "World!")

Hello, World!

In [5]:
# use f-strings for formatted output
name = "World"
print(f"Hello, {name}!")

Hello, World!

### Python f-Strings (Formatted String Literals)

**f-strings** provide a concise way to embed expressions inside strings. Introduced in Python 3.6, they improve readability and efficiency.

#### **Syntax**

* Use `f` or `F` before the string.
* Embed variables or expressions in `{}`.

In [22]:
name = "Alice"
age = 25

# use f-strings for formatted output
print(f"{name} is {age} years old.")

Alice is 25 years old.

In [23]:
value = 12345.6789
print(f"Rounded: {value:.2f}, With commas: {value:,}")

Rounded: 12345.68, With commas: 12,345.6789

### Practice exercise 2

Use the `print()` function to:

* Display your name, age, and favorite hobby.
* Format the output neatly using f-strings.

## Data types

Python provides several built-in data types for storing different kinds of information in variables. These data types can be broadly categorized into primitive data types and collection (containers) data types as shown at the beginning of this chapter. While collection data types will be covered in Chapter 5, this chapter focuses on primitive data types, which are used to represent a single value.

### Primitive Data Types

They represent a single value. In Python, primitive data types include:

- **Integer (`int`)**: Whole numbers (e.g., `10`, `-3`).
- **Floating-point number (`float`)**: Numbers with decimals (e.g., `3.14`, `-2.7`).
- **Boolean (`bool`)**: Logical values `True` or `False`.
- **None type (`None`)**: Represents the absence of a value.
- **String (`str`)**: A sequence of characters (e.g., `"hello"`, `'world'`).


The data type of the object can be identified using the in-built python function `type()`. For example, see the following objects and their types:

In [1]:
type(4)

int

In [36]:
type(4.4)

float

In [37]:
type('4')

str

In [38]:
type(True)

bool

### Practice exercise 3

What is the datatype of the following objects?

1. 'This is False'

2. "This is a number"

3. 1000

4. 65.65

5. False

### Commonly Used Built-in methods associated with each data type

#### Strings

Strings are sequences of characters and are immutable in Python.

Below are Commonly used Methods for strings:

In [12]:
# Example Methods:
s = "Hello, World!"

# Returns the length of the string
len(s) 
print("the length of the string is", len(s))

# Converts string to uppercase
s.upper()
print("the string in uppercase is", s.upper())

# Converts string to lowercase
s.lower()
print("the string in lowercase is", s.lower())

# Capitalizes the first character of the string
s.capitalize()
print("the string with first letter capitalized is", s.capitalize())

# Finds the first occurrence of a substring
s.find("World")
print("the first occurrence of the substring is at", s.find("World"))

# Replaces a substring with another string
s.replace("World", "Python")
print("the string after replacement is", s.replace("World", "Python"))

# Splits the string into a list
s.split(", ")
print("the string after splitting is", s.split(", "))

# Strips leading/trailing whitespace
s.strip()
print("the string after stripping is", s.strip())

# count the number of occurrences of a substring
s.count("l")
print("the number of occurrences of the substring is", s.count("l"))

# Checks if the string is alphanumeric
s.isalnum()
print("is the string alphanumeric?", s.isalnum())

the length of the string is 13
the string in uppercase is HELLO, WORLD!
the string in lowercase is hello, world!
the string with first letter capitalized is Hello, world!
the first occurrence of the substring is at 7
the string after replacement is Hello, Python!
the string after splitting is ['Hello', 'World!']
the string after stripping is Hello, World!
the number of occurrences of the substring is 3
is the string alphanumeric? False

#### Single quotes `'` and double quotes `"` to define strings

in Python, you can use either single quotes (`'`) or double quotes (`"`) to define strings. Both are functionally equivalent, and you can choose based on preference or readability. Here’s an example:

In [9]:
# Using single quotes
string1 = 'Hello, world!'
print(string1)

# Using double quotes
string2 = "Hello, world!"
print(string2)

Hello, world!
Hello, world!

When to use one over the other

* Single quotes (`'`) are often preferred for simple strings without embedded quotes.
* Double quotes (`"`) are useful when your string contains a single quote, as it avoids the need for escaping:

In [8]:
# Single quote in a double-quoted string
message = "It's a beautiful day!"
print(message)

# Double quote in a single-quoted string
message = 'He said, "Hello!"'
print(message)

It's a beautiful day!
He said, "Hello!"

**Escaping quotes**: 
If your string contains both single and double quotes, you can use the backslash (`\`) to escape them:

In [6]:
# Escaping single quotes in a single-quoted string
string_with_escape1 = 'It\'s a sunny day.'
print(string_with_escape1)

# Escaping double quotes in a double-quoted string
string_with_escape2 = "He said, \"Hello!\""
print(string_with_escape2)

It's a sunny day.
He said, "Hello!"

You can also use triple quotes (`'''` or `"""`) for strings that span multiple lines or contain both types of quotes without escaping:

In [5]:
multi_line_string = """This string spans
multiple lines and can include 'single quotes' and "double quotes"."""

print(multi_line_string)

This string spans
multiple lines and can include 'single quotes' and "double quotes".

#### Integers

Integers are whole numbers, either positive or negative.

Commonly used Methods:

In [5]:
# Example:
n = -42

# Returns the absolute value
abs(n)
print("the absolute value of the number is", abs(n))

# Converts to binary string
bin(n)
print("the binary string of the number is", bin(n)) 

# Converts to hexadecimal string
hex(n)
print("the hexadecimal string of the number is", hex(n))

# Converts to octal string
oct(n)
print("the octal string of the number is", oct(n))

# Returns the power of a number
pow(n, 2)  # n^2
print("the power of the number is", pow(n, 2))

# Checks if a number is an integer
isinstance(n, int)
print("is the number an integer?", isinstance(n, int))

the absolute value of the number is 42
the binary string of the number is -0b101010
the hexadecimal string of the number is -0x2a
the octal string of the number is -0o52
the power of the number is 1764
is the number an integer? True

#### Floats

Floats represent real numbers and are used for decimal or fractional values.

Commonly Used Methods:

In [6]:
# Example:
f = 3.14159

# Returns the absolute value
abs(f)
print("the absolute value of the number is", abs(f))

# Rounds to the nearest integer
round(f)
print("the number rounded to the nearest integer is", round(f))

# Converts to integer by truncating
int(f)
print("the number converted to integer is", int(f))

# Checks if a number is a float
isinstance(f, float)
print("is the number a float?", isinstance(f, float))

the absolute value of the number is 3.14159
the number rounded to the nearest integer is 3
the number converted to integer is 3
is the number a float? True

#### Booleans

Booleans represent logical values `True` or `False`.

Commonly Used Methods:

In [7]:
# Example:
b = True

# Converts to integer (True -> 1, False -> 0)
int(b)
print("the integer value of the boolean is", int(b))

# Converts to string
str(b)
print("the string value of the boolean is", str(b))

# Logical operations:
not b  # Negates the boolean
print("the negation of the boolean is", not b)

the integer value of the boolean is 1
the string value of the boolean is True
the negation of the boolean is False

## Variables

A **variable** is a container for storing data values. Variables in Python are **dynamically typed**, meaning you don't need to specify their type when declaring them.

### Variable Declaration:

   - You can create a variable by assigning a value to it using the `=` operator.

For example:

In [1]:
x = 10 # Integer
name = "Alice" # String
pi = 3.14 # Float
is_active = True # Boolean

### **Dynamic Typing**:
   - The type of a variable is determined by the value assigned to it.

For example:

In [ ]:
x = 10 # x is an integer
y = x # y is also an integer

### **Variable Naming Rules**:
   - Names must start with a letter (a-z, A-Z) or an underscore (_).
   - Names can only contain letters, numbers (0-9), and underscores.
   - Names are case-sensitive (`name` and `Name` are different variables).
   - Reserved keywords (e.g., `if`, `for`, `while`) cannot be used as variable names.
  
   > There are certain *reserved words* in python that have some meaning, and cannot be used as variable names. These reserved words are:

In [6]:
#| echo: false

# import image module
from IPython.display import Image

# get the image
Image(url="reserved_words.jpg",width=600)

### **Best Practices**:

[Python style guide](https://peps.python.org/pep-0008/): Please refer to the python style guide for best coding practices, such as naming variables, using spaces, tabs, and styling the different components of your code.

For example:

In [ ]:
# use descriptive variable names:
total_price = 100

In [ ]:
# use snake_case for variable names
user_age = 25

### Checking Variable Types

You can use the `type()` function to check the type of a variable.

In [10]:
x = 10
print(type(x)) 

y = "Python"
print(type(y))

<class 'int'>
<class 'str'>

### Practice exercise 4


Which of the following variable names are valid?
   
1. var.name

2. var9name

3. _varname

4. varname*
   

In the statements below, determine the variable type

1. value = "name"

2. constant = 7

3. another_const = "variable"

4. True_False = True

## Assignment statements

Values are assigned to variables with the assignment statement (=). An assignment statement may have a constant or an expression on the right hand side of the (=) sign, and a variable name on the left hand side.

For example, the code lines below are assignment statements

In [69]:
var = 2
var = var + 3

## Expressions

### Mathematical Operations and Their Operators in Python

Python provides the following operators for performing mathematical operations:

1. **Exponentiation (`**`)**: Raises a number to the power of another.
   - Example: `2 ** 3` results in `8`.

2. **Modulo (`%`)**: Returns the remainder of a division.
   - Example: `10 % 3` results in `1`.

3. **Multiplication (`*`)**: Multiplies two numbers.
   - Example: `4 * 5` results in `20`.

4. **Division (`/`)**: Divides one number by another, resulting in a float.
   - Example: `10 / 2` results in `5.0`.

5. **Addition (`+`)**: Adds two numbers.
   - Example: `7 + 3` results in `10`.

6. **Subtraction (`-`)**: Subtracts one number from another.
   - Example: `9 - 4` results in `5`.

### Operator Precedence in Python

The operators listed above are in **decreasing order of precedence**, meaning:

1. **Exponentiation (`**`)** is evaluated first.
2. **Modulo (`%`)** is evaluated next.
3. **Multiplication (`*`)** follows.
4. **Division (`/`)**, if present, has the same precedence as multiplication.
5. **Addition (`+`)** and **Subtraction (`-`)** are evaluated last, from left to right.


#### Example: Precedence in Action

Consider the expression: `2 + 3 % 4 * 2`

To evaluate this, Python follows the precedence rules:

1. **Modulo (`%`)** is evaluated first:

In [12]:
3 % 4

3

**Multiplication (`*`)** is evaluated next:

In [13]:
3 * 2

6

**Addition (`+`)** is evaluated last:

In [14]:
2+6

8

Thus, the result of the expression `2 + 3 % 4 * 2` is `8`.

#### Key Takeaways
* Precedence determines the order in which operations are performed in an expression.
* Parentheses `()` can be used to override the default precedence and control the order of evaluation.

In [16]:
result = (2 + 3) % (4 * 2)
print(result)

5

### Practice exercise 5

Which of the following statements is an assignment statement:

1. x = 5

2. print(x)

3. type(x)

4. x + 4

What will be the result of the following expression:

In [ ]:
1%2**3*2+1

## User input

Python's in-built `input()` function is used to take input from the user during program execution. It reads a line of text entered by the user and returns it as a **string**.

In [ ]:
# suppose we wish the user to onput their age:
age = input("Enter your age:")

The entered value is stored in the variable `age` and can be used for computation.

#### **Key Point**

* The `input()` is always returned as a string, even if the user enters a number.
* You can convert the input to other types (e.g., `int`, `float`) using type conversion functions.
* The program execution pauses until the user provides input.

### Examples

In [ ]:
# basic input
name = input("Enter your name: ")
print("Hello, " + name)

In [ ]:
# using f-string for formatted output
name = input("Enter your name: ")
print(f"Hello, {name}!")

In [ ]:
# To take numeric input, you need to convert the string to an appropriate data type:
age = int(input("Enter your age: "))
print(f"You will be {age + 1} years old next year.")

In [ ]:
# input for calculating the area of a circle
radius = float(input("Enter the radius of the circle: "))
area = 3.14 * radius ** 2
print(f"The area of the circle is {area}")

### Practice exercise 6
Ask the user to input their year of birth, and print their age.

## Converting data types in Python

### Why Convert Data Types in Python?

Data type conversion is essential in Python for several reasons:

* **Compatibility**: Some operations or functions require specific data types to work correctly.
  
    * Example: Performing arithmetic operations like addition or multiplication requires numeric types such as int or float. If the input is in another type, such as a string, it must be converted first.

In [10]:
# Example: Converting strings to numbers
price = "19.99"
tax = 0.07
total_price = float(price) * (1 + tax)  # Convert string to float
print(total_price)  # Output: 21.3893

21.3893

* **Data Processing:**  When working with input data (e.g., user input, etc), the data may need to be converted to the appropriate type for further analysis.


Example: Converting strings to numbers to perform calculations

In [9]:
# Example: Arithmetic requires numeric types
num_str = "42"
result = int(num_str) + 10  # Converts the string "42" to integer
print(result)  # Output: 52

52

* **Error Prevention**: Converting data types ensures consistency and prevents runtime errors caused by type mismatches.

In [11]:
# Example: Avoiding type mismatch errors
age = 25
message = "Your age is " + str(age)  # Convert integer to string for concatenation
print(message)  # Output: "Your age is 25"

Your age is 25

### How to Convert Data Types in Python

Python provides several built-in functions for type conversion.

Common Conversion Functions:

| **Function** | **Description**                              | **Example**               |
|--------------|----------------------------------------------|---------------------------|
| `int()`      | Converts to an integer (from float or string)| `int("42")` → `42`        |
| `float()`    | Converts to a float                          | `float("3.14")` → `3.14`  |
| `str()`      | Converts to a string                        | `str(42)` → `"42"`        |
| `bool()`     | Converts to a boolean                       | `bool(1)` → `True`        |

However, in some cases, mathematical operators such as `+` and `*` can be applied on strings. The operator `+` concatenates multiple strings, while the operator `*` can be used to concatenate a string to itself multiple times:

In [97]:
"Hi" + " there!"

'Hi there!'

In [98]:
"5" + '3'

'53'

In [99]:
"5"*8

'55555555'

## Errors and Exceptions

Errors and Exceptions are common while writing and executing Python code.

### Syntax errors

Syntax errors occur if the code is written in a way that it does not comply with the rules / standards / laws of the language (python in this case). 
It occur when the Python parser encounters invalid syntax.

For example, suppose a values is assigned to a variable as follows:

In [ ]:
9value = 2

The above code when executed will indicate a syntax error as it violates the rule that a variable name must not start with a number.

In [ ]:
# another example
print("Hello World"

Solution: Fix the syntax issue by ensuring correct punctuation or structure.

### Exceptions

Even if a statement or expression is syntactically correct, it may cause an error when an attempt is made to execute it. Errors detected during execution are called exceptions and are not unconditionally fatal:

 Exceptions come in different types, and the type is printed as part of the message: below are the common ones:

- Misspelled or incorrectly capitalized variable and function names
- Attempts to perform operations (such as math operations) on data of the wrong type (ex. attempting to subtract two variables that hold string values)
- Dividing by zero
- Attempts to use a type conversion function such as `int` on a value that can’t be converted to an `int`

For example, suppose a number is multipled as follws:

In [29]:
multiplication_result = misy * 4

NameError: name 'misy' is not defined

The above code is syntactically correct. However, it will generate an error as the variable `misy` has not been defined as a number.

In [25]:
int("abc")

ValueError: invalid literal for int() with base 10: 'abc'

In [24]:
print("2" + 3)

TypeError: can only concatenate str (not "int") to str

In [27]:
print(10 / 0)

ZeroDivisionError: division by zero

### Exception Handling

When an error occurs, or exception as we call it, Python will normally stop and generate an error message.

If we suspect that some lines of code may produce an error, we can put them in a `try` block, and if an error does occur, we can use the `except` block to instead execute an alternative piece of code. This way the program will not stop if an error occurs within the `try` block, and instead will be directed to execute the code within the `except` block.

These exceptions can be handled Using the Try-Except Blocks

In [33]:

try:
    print(10 / 0)
except:
    print("Cannot divide by zero!")

Cannot divide by zero!

Since the try block raises an error, the except block will be executed. Without the try block, the program will crash and raise an error:

The `finally` block, if specified, will be executed regardless if the try block raises an error or not.

In [34]:
try:
    print(10 / 0)
except:
    print("Cannot divide by zero!")
finally:
    print("This will always execute.")

Cannot divide by zero!
This will always execute.

### Practice exercise 7

Suppose we wish to compute tax using the income and the tax rate. Identify the type of error from amongst syntax error, semantic error and run-time error in the following pieces of code.

In [ ]:
income = 2000
tax = .08 * Income
print("tax on", income, "is:", tax)

In [ ]:
income = 2000
tax = .08 x income
print("tax on", income, "is:", tax)

In [ ]:
income = 2000
tax = .08 ** income
print("tax on", income, "is:", tax)

### Practice exercise 8

 Input an integer from the user. If the user inputs a valid integer, print whether it is a multiple of 3. However, if the user does not input a valid integer, print a message saying that the input is invalid.

In [35]:
num = input("Enter an integer:")

#The code lines within the 'try' block will execute as long as they run without error  
try:
    #Converting the input to integer, as user input is a string
    num_int = int(num)  
    
    #checking if the integer is a multiple of 3
    if num_int % 3 == 0:            
        print("Number is a multiple of 3")
    else:
        print("Number is not a multiple of 3")
        
#The code lines within the 'except' block will execute only if the code lines within the 'try' block throw an error        
except:
    print("Input must be an integer")

Input must be an integer

### Semantic errors (bugs)
Semantic errors occur when the code executes without an error being indicated by the compiler. However, it does not work as inteded by the user. For example, consider the following code of mutiplying the number 6 by 3:
x = '6'
x * 3
If it was intended to multiply the number 6, then the variable `x` should have been defined as `x=6` so that `x` has a value of type `integer`. However, in the above code `6` is a `string` type value. When a `string` is multiplied by an integer, say *n*, it concatenates with itself *n* times.

### Practice exercise 9

The formula for computing final amount if one is earning compund interest is given by:
$$A = P\bigg(1+\frac{r}{n}\bigg)^{nt},$$

where: \
P = Principal amount (initial investment), \
r = annual nominal interest rate, \
n = number of times the interest is computed per year, \
t = number of years

Write a Python program that assigns the principal amount of \$10000 to variable *P*, assign to *n* the value 12, and assign to *r* the interest rate of 8\%. Then have the program prompt the user for the number of years *t* that the money will be compounded for. Calculate and print the final amount after *t* years.

What is the amount if the user enters *t* as 4 years?